body {
    margin: 0 auto;
    font-family: 'Fira Sans', sans-serif;
    font-style: medium;
}

.main-page {
    /* background-image: url(./src/backgroundBeer.png); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 62.9375rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(./src/backgroundBeer.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 145px;
}

.main-page-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page-header-top {
    width: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-page-header-socials {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.main-page-header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    color: white;
}

.main-page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
}

.logo {
    width: 94px;
    height: 111px;
    padding-top: 10px;
}

.search-cart {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.main-page-header-bottom {
    display: flex;
    flex-direction: row;
    color: white;
    width: 50rem;
    font-size: 16px;
    font-weight: bolder;
    justify-content: space-between;
}

.main-page-main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 69rem;
    gap: 28px;
}

.main-page-main-title {
    font-size: 80px;
    width: 650px;
    text-align: center;
    line-height: 70px;
}

.main-page-main-text {
    font-size: 16px;
    width: 800px;
    text-align: center;
}

button {
    width: 255px;
    height: 50px;
    background-color: #FDCF55;
    border-radius: 50px;
    border: 2px solid #FDCF55;
}

.we-page {
    width: 100%;
    height: 590px;
    background-image: url(./src/background-stack.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    align-items: center;
}

.we-page-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}

.we-page-main {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.we-page-main-container {
    width: 150px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.we-page-main-container-text {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}

.stock-page {
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    background-image: url(./src/woodbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.stock-page-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}

.stock-page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.stock-page-main-top {
    display: flex;
    flex-direction: row;
    gap: 130px;
    align-items: center;
}

.stock-page-main-bottom {
    display: flex;
    flex-direction: row;
    gap: 190px;
    align-items: center;
}

.stock-page-main-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.stock-page-main-content-text {
    font-size: 24px;
    font-weight: bold;
}

.interruption {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)), url(./src/hmelbg.png);
}

.interruption-text {
    font-size: 40px;
    font-weight: 500;
    width: 450px;
    white-space: pre-line;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.about-main-left {
    width: 540px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.about-main-left-title {
    font-size: 35px;
}

.about-main-left-text {
    font-size: 16px;
}

.about-main-img {
    /* width: 395px;
    height: 695px; */
    display: flex;
    flex-direction: column;
    position: relative;
}

/* .about-main-img-pint {
    width: 250px;
    height: 450px;
}

.about-main-img-hmel {
    width: 200px;
    height: 400px;
} */

.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.services-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    font-size: 35px;
    font-weight: bold;
}

.services-main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.services-main-cart-left {
    width: 960px;
    height: 447px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7)), url(./src/distribution-bg.png);
    display: grid;
    grid-template-rows: auto;
    justify-content: end;
    align-content: end;
}

.services-main-cart-left-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.services-main-cart-right {
    width: 960px;
    height: 447px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7)), url(./src/complectation-bg.png);
    display: grid;
    grid-template-rows: auto;
    justify-content: start;
    align-content: end;
}

.services-main-cart-right-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.services-main-title {
    font-size: 30px;
    color: white;
    text-align: start;
    font-weight: bold;
}

.services-main-text {
    font-size: 20px;
    color: white;
    width: 460px;
    text-align: start;
}

.new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./src/paper-bg.png);
    gap: 25px;
}

.new-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    margin-top: 100px;
}

.new-top-title {
    font-size: 35px;
    font-weight: bold;
}

.new-top-text {
    font-size: 22px;
}

.new-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.new-main-bottle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.new-main-bottle-title {
    font-size: 22px;
}

.new-main-bottle-text {
    font-size: 18px;
    text-align: center;
    white-space: pre-line;
}

.partners {
    background-image: url(./src/paper-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.partners-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    font-size: 35px;
    font-weight: bold;
    margin-top: 100px;
}

.partners-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    gap: 150px;
}

.partners-main-bottles {
    display: flex;
    flex-direction: row;
    gap: 220px;
}

.partners-main-cart {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.news-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    font-size: 35px;
    font-weight: bold;
    margin-top: 100px;
}

.news-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.news-main-carts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.news-main-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.news-main-cart-title {
    font-size: 22px;
    font-weight: 500;
    white-space: pre-line;
}

.news-main-img {
    position: relative;
    display: flex;
    left: 283px;
}

.news-main-cart-text {
    font-size: 16px;
    font-weight: light;
    white-space: pre-line;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./src/footer-bg.png);
    color: white;
    gap: 15px;
}

.footer-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer-main-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.footer-main-left-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 40px;
    color: #FDCF55;
    gap: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer-main-left-text {
    font-size: 15px;
    white-space: pre-line;
}

.footer-main-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.footer-main-middle-title {
    color: #FDCF55;
}

.footer-main-middle-info {
    display: flex;
    flex-direction: row;
    white-space: pre-line;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer-main-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    color: #FDCF55;
}

.footer-bottom {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-company {
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65)), url(./src/company-header-bg.png);
}

.header-title {
    width: 1125px;
    display: flex;
    justify-content: start;
    align-items: start;
    color: white;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.history {
    height: 606px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(./src/background-stack.png);
    gap: 20px;
}

.history-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.history-left-title {
    font-size: 30px;
    font-weight: bold;
}

.history-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.history-right-year {
    font-size: 30px;
    font-weight: bold;
}

.history-right-text-top {
    white-space: pre-line;
}

.history-right-text-bottom {
    white-space: pre-line;
}

.why-we {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./src/background-stack.png);
}

.why-we-top {
    display: flex;
    font-size: 30px;
    font-weight: bold;
}

.why-we-main {
    display: flex;
    flex-direction: row;
}

.why-we-main-cart {
    width: 254px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.why-we-img {
    width: 130px;
    height: 150px;
}

.why-we-main-cart-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.why-we-main-cart-text {
    text-align: center;
}

.delivery {
    height: 460px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.delivery-left {
    width: 830px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: start;
}

.delivery-left-title {
    font-size: 30px;
    font-weight: bold;
}

.delivery-left-text {
    white-space: pre-line;
}

.delivery-right {
    width: 255px;
    height: 364px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)), url(./src/delivery-bg.png);
    color: white;
}

.delivery-right-title {
    font-size: 22px;
    font-weight: bold;
}

.delivery-right-text {
    white-space: pre-line;
}

.input-delivery {
    width: 225px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}